version: "2.1"
orbs:
  slack: circleci/slack@4.0
workflows:
  on-hold-example:
    jobs:
      - my_test_job
      - slack/on-hold:
          context: slack-secrets
          requires:
            - my_test_job
      - pause_workflow:
          requires:
            - my_test_job
            - slack/on-hold
          type: approval
      - my_deploy_job:
          requires:
            - pause_workflow
jobs:
  my_test_job:
    docker:
      - image: "cimg/base:stable"
    steps:
      - run: echo "my_test_job2"
  my_deploy_job:
    docker:
      - image: "cimg/base:stable"
    steps:
      - run: echo "my_deploy_job2"
